.chevron {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 5px 8px;
    border: 1px solid $color-default-black;
    background-color: $color-default-white;
    color: $color-text-inner;
    font-family: $font;
    font-size: 10px;
    font-weight: 500;
    line-height: 1.5;
}

.chevron--info {
    border-color: $color-info;
}

.chevron--hit {
    border-color: $color-hit;
}

.chevron--sale {
    border-color: $color-sale;
}
