mixin form(params)
    - var formClass = params.formClass || '';
    - var action = params.action || '#';
    - var method = params.method || 'post';

    form(class=formClass action=action method=method)&attributes(attributes)
        block
