mixin ico-svg(params)
    - var icoNames = icoSvg;
    - var size = params.size || 'sm';
    - var theme = params.theme || 'inherit';
    - var viewBox = params.theme || 'inherit';

    svg(class=`ico-svg ico-svg--${size} ico-svg--${theme}`)&attributes(attributes)
        !='<!-- ico name: ' + params.icoName + '-->'
        path(fill='currentColor' d=icoNames[params.icoName])
